name: Test

on:
  push:
    branches:
      - main

jobs:
  lint-and-test:
    name: Lint and test
    runs-on: ubuntu-latest

    # services:
    #   docker:
    #     image: docker:dind
    #     options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.5

      # Linting using golangci-lint
      # https://golangci-lint.run/welcome/install#github-actions
      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.2

      - name: Set up Docker (needed for testcontainers)
        uses: docker/setup-buildx-action@v3

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test -v ./...
